.gaugeContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    transform: rotate(0deg);
}

.progressCircle {
    transition: stroke-dashoffset 1s ease-out;
}

.scoreText {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8fafc;
}

.value {
    font-size: 1.5rem;
    /* Large font for score */
    font-weight: 800;
    font-family: 'Outfit', sans-serif;
    line-height: 1;
}

.label {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: #94a3b8;
    margin-top: 2px;
}